{% extends './base.html' %}
{% block content %}
<div class="row g-3 mb-3">
  <div class="col-xxl-6 col-xl-12">
    <div class="row g-3">
      <div class="col-12">
        <div class="card bg-transparent-50 overflow-hidden">
          <div class="card-header position-relative">
            <div class="bg-holder d-none d-md-block bg-card z-index-1" style="background-image:url(../assets/img/illustrations/ecommerce-bg.png);background-size:230px;background-position:right bottom;z-index:-1;">
            </div>
            <div class="position-relative z-index-2">
              <div>
                <h3 class="text-primary mb-1 label_time"></h3>
                <p>Esto es lo que sucede en la empresa el día de hoy</p>
              </div>
              <div class="d-flex py-3">
                <!-- <div class="pe-3">
                  <p class="text-600 fs--1 fw-medium">Today's visit </p>
                  <h4 class="text-800 mb-0">14,209</h4>
                </div> -->
                <div class="ps-3">
                  <p class="text-600 fs--1">Ventas totales de hoy</p>
                  <h4 class="text-800 mb-0">${{total_sales.total_sales}} </h4>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="card-body p-0">
            <ul class="mb-0 list-unstyled">
              <li class="alert mb-0 rounded-0 py-3 px-card alert-warning border-x-0 border-top-0">
                <div class="row flex-between-center">
                  <div class="col">
                    <div class="d-flex">
                      <div class="fas fa-circle mt-1 fs--2"></div>
                      <p class="fs--1 ps-2 mb-0"><strong>5 products</strong> didn’t publish to your Facebook page</p>
                    </div>
                  </div>
                  <div class="col-auto d-flex align-items-center"><a class="alert-link fs--1 fw-medium" href="#!">View products<i class="fas fa-chevron-right ms-1 fs--2"></i></a></div>
                </div>
              </li>
              <li class="alert mb-0 rounded-0 py-3 px-card greetings-item border-top border-x-0 border-top-0">
                <div class="row flex-between-center">
                  <div class="col">
                    <div class="d-flex">
                      <div class="fas fa-circle mt-1 fs--2 text-primary"></div>
                      <p class="fs--1 ps-2 mb-0"><strong>7 orders</strong> have payments that need to be captured</p>
                    </div>
                  </div>
                  <div class="col-auto d-flex align-items-center"><a class="alert-link fs--1 fw-medium" href="#!">View payments<i class="fas fa-chevron-right ms-1 fs--2"></i></a></div>
                </div>
              </li>
              <li class="alert mb-0 rounded-0 py-3 px-card greetings-item border-top  border-0">
                <div class="row flex-between-center">
                  <div class="col">
                    <div class="d-flex">
                      <div class="fas fa-circle mt-1 fs--2 text-primary"></div>
                      <p class="fs--1 ps-2 mb-0"><strong>50+ orders</strong> need to be fulfilled</p>
                    </div>
                  </div>
                  <div class="col-auto d-flex align-items-center"><a class="alert-link fs--1 fw-medium" href="#!">View orders<i class="fas fa-chevron-right ms-1 fs--2"></i></a></div>
                </div>
              </li>
            </ul>
          </div> -->
        </div>
      </div>
      <div class="col-lg-12">
        <div class="row g-3">
          <div class="col-md-6">
            <div class="card h-md-100 ecommerce-card-min-width">
              <div class="card-header pb-0">
                <h6 class="mb-0 mt-2 d-flex align-items-center">Ventas Semanales <span class="ms-1 text-400" data-bs-toggle="tooltip" data-bs-placement="top" title="Calculated according to last week's sales"><span class="far fa-question-circle" data-fa-transform="shrink-1"></span></span></h6>
              </div>
              <div class="card-body d-flex flex-column justify-content-end">
                <div class="row">
                  <div class="col">
                    <p class="font-sans-serif lh-1 mb-1 fs-2">$47K</p><span class="badge badge-soft-success rounded-pill fs--2">+3.5%</span>
                  </div>
                  <div class="col-auto ps-0">
                    <div class="echart-bar-weekly-sales h-100 echart-bar-weekly-sales-smaller-width"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card product-share-doughnut-width">
              <div class="card-header pb-0">
                <h6 class="mb-0 mt-2 d-flex align-items-center">Product Share</h6>
              </div>
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <div class="d-flex flex-column justify-content-between">
                    <p class="font-sans-serif lh-1 mb-1 fs-2">34.6%</p><span class="badge badge-soft-warning rounded-pill fs--2"><span class="fas fa-caret-up me-1"></span>3.5%</span>
                  </div>
                  <div>
                    <canvas class="my-n5" id="marketShareDoughnut" width="112"></canvas>
                    <p class="mb-0 text-center fs--2 mt-4 text-500">Target: <span class="text-800">55% </span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xxl-6 col-xl-12">
    <div class="card py-3 mb-3">
      <div class="card-body py-3">
        <div class="row g-0">
          <div class="col-6 col-md-4 border-200 border-bottom border-end pb-4">
            <h6 class="pb-1 text-700">Factura POS </h6>
            <p class="font-sans-serif lh-1 mb-1 fs-2">15,450 </p>
            <div class="d-flex align-items-center">
              <h6 class="fs--1 text-500 mb-0">13,675 </h6>
              <h6 class="fs--2 ps-3 mb-0 text-primary"><span class="me-1 fas fa-caret-up"></span>21.8%</h6>
            </div>
          </div>
          <div class="col-6 col-md-4 border-200 border-md-200 border-bottom border-md-end pb-4 ps-3">
            <h6 class="pb-1 text-700">Factura Elec.  </h6>
            <p class="font-sans-serif lh-1 mb-1 fs-2">1,054 </p>
            <div class="d-flex align-items-center">
              <h6 class="fs--1 text-500 mb-0">13,675 </h6>
              <h6 class="fs--2 ps-3 mb-0 text-warning"><span class="me-1 fas fa-caret-up"></span>21.8%</h6>
            </div>
          </div>
          <div class="col-6 col-md-4 border-200 border-bottom border-end border-md-end-0 pb-4 pt-4 pt-md-0 ps-md-3">
            <h6 class="pb-1 text-700">Nota Crédito  </h6>
            <p class="font-sans-serif lh-1 mb-1 fs-2">$145.65 </p>
            <div class="d-flex align-items-center">
              <h6 class="fs--1 text-500 mb-0">13,675 </h6>
              <h6 class="fs--2 ps-3 mb-0 text-success"><span class="me-1 fas fa-caret-up"></span>21.8%</h6>
            </div>
          </div>
          <div class="col-6 col-md-4 border-200 border-md-200 border-bottom border-md-bottom-0 border-md-end pt-4 pb-md-0 ps-3 ps-md-0">
            <h6 class="pb-1 text-700">Nota Débito </h6>
            <p class="font-sans-serif lh-1 mb-1 fs-2">$100.26 </p>
            <div class="d-flex align-items-center">
              <h6 class="fs--1 text-500 mb-0">$109.65 </h6>
              <h6 class="fs--2 ps-3 mb-0 text-danger"><span class="me-1 fas fa-caret-down"></span>21.8%</h6>
            </div>
          </div>
          <div class="col-6 col-md-4 border-200 border-md-bottom-0 border-end pt-4 pb-md-0 ps-md-3">
            <h6 class="pb-1 text-700">Doc. Soporte </h6>
            <p class="font-sans-serif lh-1 mb-1 fs-2">$365.53 </p>
            <div class="d-flex align-items-center">
              <h6 class="fs--1 text-500 mb-0">13,675 </h6>
              <h6 class="fs--2 ps-3 mb-0 text-success"><span class="me-1 fas fa-caret-up"></span>21.8%</h6>
            </div>
          </div>
          <div class="col-6 col-md-4 pb-0 pt-4 ps-3">
            <h6 class="pb-1 text-700">Procesando </h6>
            <p class="font-sans-serif lh-1 mb-1 fs-2">861 </p>
            <div class="d-flex align-items-center">
              <h6 class="fs--1 text-500 mb-0">13,675 </h6>
              <h6 class="fs--2 ps-3 mb-0 text-info"><span class="me-1 fas fa-caret-up"></span>21.8%</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <div class="row flex-between-center g-0">
          <div class="col-auto">
            <h6 class="mb-0">Ventas totales</h6>
          </div>
          <div class="col-auto d-flex">
            <div class="form-check mb-0 d-flex">
              <input class="form-check-input form-check-input-primary" id="ecommerceLastMonth" type="checkbox" checked="checked" />
              <label class="form-check-label ps-2 fs--2 text-600 mb-0" for="ecommerceLastMonth">Mes pasado<span class="text-dark d-none d-md-inline">: $32,502.00</span></label>
            </div>
            <div class="form-check mb-0 d-flex ps-0 ps-md-3">
              <input class="form-check-input ms-2 form-check-input-warning opacity-75" id="ecommercePrevYear" type="checkbox" checked="checked" />
              <label class="form-check-label ps-2 fs--2 text-600 mb-0" for="ecommercePrevYear">Prev Year<span class="text-dark d-none d-md-inline">: $46,018.00</span></label>
            </div>
          </div>
          <div class="col-auto">
            <div class="dropdown font-sans-serif btn-reveal-trigger">
              <button class="btn btn-link text-600 btn-sm dropdown-toggle dropdown-caret-none btn-reveal" type="button" id="dropdown-total-sales-ecomm" data-bs-toggle="dropdown" data-boundary="viewport" aria-haspopup="true" aria-expanded="false"><span class="fas fa-ellipsis-h fs--2"></span></button>
              <div class="dropdown-menu dropdown-menu-end border py-2" aria-labelledby="dropdown-total-sales-ecomm"><a class="dropdown-item" href="#!">Ver</a><a class="dropdown-item" href="#!">Exportacion</a>
                <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="#!">Eliminar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body pe-xxl-0">
        <!-- Find the JS file for the following chart at: src/js/charts/echarts/total-sales-ecommerce.js-->
        <!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/theme.js-->
        <div class="echart-line-total-sales-ecommerce" data-echart-responsive="true" data-options='{"optionOne":"ecommerceLastMonth","optionTwo":"ecommercePrevYear"}'></div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card h-lg-100 overflow-hidden">
      <div class="card-body p-0">
        <div class="table-responsive scrollbar">
          <table class="table table-dashboard mb-0 table-borderless fs--1 border-200">
            <thead class="bg-light">
              <tr class="text-900">
                <th>Productos más vendidos </th>
                <th class="text-center">Órdenes(269)</th>
                <th class="text-center">Order(%)</th>
                <th class="text-end">Revenue</th>
                <th class="pe-card text-end" style="width: 8rem">Revenue (%)</th>
              </tr>
            </thead>
            <tbody>
              <tr class="border-bottom border-200">
                <td>
                  <div class="d-flex align-items-center position-relative"><img class="rounded-1 border border-200" src="../assets/img/ecommerce/1.jpg" width="60" alt="" />
                    <div class="flex-1 ms-3">
                      <h6 class="mb-1 fw-semi-bold text-nowrap"><a class="text-900 stretched-link" href="#!">iPad Pro 2020 11</a></h6>
                      <p class="fw-semi-bold mb-0 text-500">Tablet</p>
                    </div>
                  </div>
                </td>
                <td class="align-middle text-center fw-semi-bold">26</td>
                <td class="align-middle text-center fw-semi-bold">$31%</td>
                <td class="align-middle text-end fw-semi-bold">$1311</td>
                <td class="align-middle pe-card">
                  <div class="d-flex align-items-center">
                    <div class="progress me-3 rounded-3 bg-200" style="height: 5px;width:80px">
                      <div class="progress-bar bg-primary rounded-pill" role="progressbar" style="width: 41%;" aria-valuenow="41" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="fw-semi-bold ms-2">41%</div>
                  </div>
                </td>
              </tr>
              <tr class="border-bottom border-200">
                <td>
                  <div class="d-flex align-items-center position-relative"><img class="rounded-1 border border-200" src="../assets/img/ecommerce/2.jpg" width="60" alt="" />
                    <div class="flex-1 ms-3">
                      <h6 class="mb-1 fw-semi-bold text-nowrap"><a class="text-900 stretched-link" href="#!">iPhone XS</a></h6>
                      <p class="fw-semi-bold mb-0 text-500">Smartphone</p>
                    </div>
                  </div>
                </td>
                <td class="align-middle text-center fw-semi-bold">18</td>
                <td class="align-middle text-center fw-semi-bold">$29%</td>
                <td class="align-middle text-end fw-semi-bold">$1311</td>
                <td class="align-middle pe-card">
                  <div class="d-flex align-items-center">
                    <div class="progress me-3 rounded-3 bg-200" style="height: 5px;width:80px">
                      <div class="progress-bar bg-primary rounded-pill" role="progressbar" style="width: 41%;" aria-valuenow="41" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="fw-semi-bold ms-2">41%</div>
                  </div>
                </td>
              </tr>
              <tr class="border-bottom border-200">
                <td>
                  <div class="d-flex align-items-center position-relative"><img class="rounded-1 border border-200" src="../assets/img/ecommerce/3.jpg" width="60" alt="" />
                    <div class="flex-1 ms-3">
                      <h6 class="mb-1 fw-semi-bold text-nowrap"><a class="text-900 stretched-link" href="#!">Amazfit Pace (Global)</a></h6>
                      <p class="fw-semi-bold mb-0 text-500">Smartwatch</p>
                    </div>
                  </div>
                </td>
                <td class="align-middle text-center fw-semi-bold">16</td>
                <td class="align-middle text-center fw-semi-bold">$27%</td>
                <td class="align-middle text-end fw-semi-bold">$539</td>
                <td class="align-middle pe-card">
                  <div class="d-flex align-items-center">
                    <div class="progress me-3 rounded-3 bg-200" style="height: 5px;width:80px">
                      <div class="progress-bar bg-primary rounded-pill" role="progressbar" style="width: 27%;" aria-valuenow="27" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="fw-semi-bold ms-2">27%</div>
                  </div>
                </td>
              </tr>
              <tr class="border-bottom border-200">
                <td>
                  <div class="d-flex align-items-center position-relative"><img class="rounded-1 border border-200" src="../assets/img/ecommerce/4.jpg" width="60" alt="" />
                    <div class="flex-1 ms-3">
                      <h6 class="mb-1 fw-semi-bold text-nowrap"><a class="text-900 stretched-link" href="#!">Lotto AMF Posh Sports Plus</a></h6>
                      <p class="fw-semi-bold mb-0 text-500">Shoes</p>
                    </div>
                  </div>
                </td>
                <td class="align-middle text-center fw-semi-bold">11</td>
                <td class="align-middle text-center fw-semi-bold">$21%</td>
                <td class="align-middle text-end fw-semi-bold">$245</td>
                <td class="align-middle pe-card">
                  <div class="d-flex align-items-center">
                    <div class="progress me-3 rounded-3 bg-200" style="height: 5px;width:80px">
                      <div class="progress-bar bg-primary rounded-pill" role="progressbar" style="width: 17%;" aria-valuenow="17" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="fw-semi-bold ms-2">17%</div>
                  </div>
                </td>
              </tr>
              <tr class="border-bottom border-200">
                <td>
                  <div class="d-flex align-items-center position-relative"><img class="rounded-1 border border-200" src="../assets/img/ecommerce/5.jpg" width="60" alt="" />
                    <div class="flex-1 ms-3">
                      <h6 class="mb-1 fw-semi-bold text-nowrap"><a class="text-900 stretched-link" href="#!">Casual Long Sleeve Hoodie</a></h6>
                      <p class="fw-semi-bold mb-0 text-500">Jacket</p>
                    </div>
                  </div>
                </td>
                <td class="align-middle text-center fw-semi-bold">10</td>
                <td class="align-middle text-center fw-semi-bold">$19%</td>
                <td class="align-middle text-end fw-semi-bold">$234</td>
                <td class="align-middle pe-card">
                  <div class="d-flex align-items-center">
                    <div class="progress me-3 rounded-3 bg-200" style="height: 5px;width:80px">
                      <div class="progress-bar bg-primary rounded-pill" role="progressbar" style="width: 7%;" aria-valuenow="7" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="fw-semi-bold ms-2">7%</div>
                  </div>
                </td>
              </tr>
              <tr class="border-bottom border-200">
                <td>
                  <div class="d-flex align-items-center position-relative"><img class="rounded-1 border border-200" src="../assets/img/ecommerce/6.jpg" width="60" alt="" />
                    <div class="flex-1 ms-3">
                      <h6 class="mb-1 fw-semi-bold text-nowrap"><a class="text-900 stretched-link" href="#!">Playstation 4 1TB Slim</a></h6>
                      <p class="fw-semi-bold mb-0 text-500">Console</p>
                    </div>
                  </div>
                </td>
                <td class="align-middle text-center fw-semi-bold">10</td>
                <td class="align-middle text-center fw-semi-bold">$19%</td>
                <td class="align-middle text-end fw-semi-bold">$234</td>
                <td class="align-middle pe-card">
                  <div class="d-flex align-items-center">
                    <div class="progress me-3 rounded-3 bg-200" style="height: 5px;width:80px">
                      <div class="progress-bar bg-primary rounded-pill" role="progressbar" style="width: 7%;" aria-valuenow="7" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="fw-semi-bold ms-2">7%</div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex align-items-center position-relative"><img class="rounded-1 border border-200" src="../assets/img/ecommerce/7.jpg" width="60" alt="" />
                    <div class="flex-1 ms-3">
                      <h6 class="mb-1 fw-semi-bold text-nowrap"><a class="text-900 stretched-link" href="#!">SUNGAIT Lightweight Sunglass</a></h6>
                      <p class="fw-semi-bold mb-0 text-500">Jacket</p>
                    </div>
                  </div>
                </td>
                <td class="align-middle text-center fw-semi-bold">10</td>
                <td class="align-middle text-center fw-semi-bold">$19%</td>
                <td class="align-middle text-end fw-semi-bold">$234</td>
                <td class="align-middle pe-card">
                  <div class="d-flex align-items-center">
                    <div class="progress me-3 rounded-3 bg-200" style="height: 5px;width:80px">
                      <div class="progress-bar bg-primary rounded-pill" role="progressbar" style="width: 7%;" aria-valuenow="7" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="fw-semi-bold ms-2">7%</div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer bg-light py-2">
        <div class="row flex-between-center">
          <div class="col-auto">
            <select class="form-select form-select-sm">
              <option>Last 7 days</option>
              <option>Last Month</option>
              <option>Last Year</option>
            </select>
          </div>
          <div class="col-auto"><a class="btn btn-sm btn-falcon-default" href="#!">View All</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
  <script>
    $(document).ready(function(){
      var horaActual = new Date().getHours();
      var limiteMañana = 12;
      var limiteTarde = 18;
      var mensaje;
      if (horaActual < limiteMañana) {
        mensaje = "¡Buen días, {{request.session.name_employee|title}}!.";
      } else if (horaActual < limiteTarde) {
        mensaje = "¡Buena tarde, {{request.session.name_employee|title}}!.";
      } else {
        mensaje = "¡Buena noche, {{request.session.name_employee|title}}!.";
      }
      $(".label_time").text(mensaje);
    })
  </script>
{% endblock %}