{% extends '../base.html' %}
{% block content %}

<div class="card mb-3 p-1" data-date="{{ i.registration_date }}">
  <div class="card-body p-2 overflow-hidden">
    <div class="row">
      <div class="col-md-3 col-12">
        <h5>Lista de usuarios</h5>
      </div>
      <div class="col-md-3 col-12 ml-auto">
        {% for i in request.session.permission %}
          {% if i == "Creador" or i == "Todos" %}
            <button class="btn btn-info Add_User">Crear Usuario</button>
          {% endif %}
        {% endfor %} 
      </div>
    </div>
  </div>
</div>
<input type="text" id="searchInput" placeholder="Buscar un usuario..." class="form-control form-control-sm mb-2">

<div class="card" data-date="{{ i.registration_date }}">
  <div class="card-body p-2 overflow-hidden">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="text-dark fs-0">Documento I.</th>
            <th class="text-dark">Nombre de usuario</th>
            <th class="text-dark">Activo</th>
              {% for i in request.session.permission %}
                {% if i == "Creador" or i == "Todos" %}
                  <th class="text-dark">Acciones</th>
                {% endif %}
              {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for i in page_obj %}
            <tr>
              <td class="text-dark name{{i.pk}}">{{i.fields.identification_number}}</td>
              <td class="text-dark">{{i.fields.first_name|title}} {{i.fields.surname|title}} </td>
              <td class="text-dark">{% if i.fields.active %}Conectado{% else %}Desconectado{% endif %}</td>
              <td>
                {% for j in request.session.permission %}
                  {% if j == "Editor" or j == "Todos"%}
                    <button class="btn btn-primary edit" id="{{i.pk}}">Editar</button>
                  {% endif %}
                  {% if j == "Eliminador" or j == "Todos"%}
                    <button class="btn btn-danger delete" id="{{i.pk}}">Eliminar</button>
                  {% endif %}
                {% endfor %}              
              </td>  
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% if page_obj.has_other_pages %}
<div class="card-footer border-top d-flex justify-content-center">
    {% if page_obj.has_previous %}
      <a class="btn btn-falcon-default btn-sm me-2" href="?page=1" data-bs-toggle="tooltip" data-bs-placement="top" title="First">
          <span class="fas fa-chevron-left"></span>
      </a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <a class="btn btn-sm btn-falcon-default me-2 active">{{ num }}</a>
      {% else %}
        <a class="btn btn-sm btn-falcon-default me-2" href="?page={{ num }}">{{ num }}</a>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <a class="btn btn-falcon-default btn-sm" href="?page={{ page_obj.paginator.num_pages }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Last">
        <span class="fas fa-chevron-right"></span>
    </a>
    {% endif %}
</div>
{% endif %}

{% endblock %}
{% block script %}

  <script>
    $(document).ready(function(){
      console.clear()
      $('.Add_User').click(function(){
        location.href = "{% url 'Create_Employee' %}"
      })

      $(document).on('click','.edit',function(){
        location.href = '{{request.session.url}}/Get_Employee/'+this.id
      })

      $(document).on('click','.delete',function(){
        $(this).closest('tr').remove();
        id = this.id
        $.ajax({
          data:{'pk_user':id},
          success: function(e){
            data = JSON.parse(e)
            if(data.result){
              $.notify("Usuario eliminado con éxito",'success')
            }
            else{
             $.notify(data.message,'error') 
            }
          }
        })
      })

    })
  </script>

{% endblock %}