{% extends '../base.html' %}
{% block content %}

<div class="card mb-3 p-1" data-date="{{ i.registration_date }}">
  <div class="card-body p-2 overflow-hidden">
    <div class="row">
      <div class="col-md-5 col-12">
        <h5>Facturación</h5>
      </div>
      <div class="col-md-2 col-12 ml-auto text-right">
        <h5>N° <span class="number_invoice text-right"></span></h5>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3">
	<div class="card-body">
	  <div class="row" style="padding: 10px !important;">
			<div class="row">
				<div class="mb-3 col-md-3  col-12">
					<label for="organizerMultiple">Cliente</label>
					<select class="form-select js-choice client text-dark" id="client" size="1">
						<option value="0">Consumidor Final</option>
					  {% for i in client %}
					  	<option value="{{i.pk_client}}">{{i.name}}</option>
					  {% endfor %}
					</select>
				</div>
				<div class="mb-3 col-md-3 col-12">
				  <label class="form-label" for="exampleFormControlInput1">Fecha</label>
				  <input class="form-control date_invoice" name="date_invoice" type="date" />
				</div>
				<div class="mb-3 col-md-3  col-12 due_date" style="display: none;">
				  <label class="form-label" for="exampleFormControlInput1">Fecha de vencimiento</label>
				  <input class="form-control date_invoice_due" name="date_invoice" type="date" />
				</div>
				<div class="mb-3 col-md-3  col-12">
					<label for="organizerMultiple">Forma de Pago</label>
					<select class="form-select js-choice paymentform" id="paymentform" size="1" name="paymentform">
					  <option value="1">Efectivo</option>
					  <option value="2">Crédito</option>
					  <option value="3">Transferencia</option>
					</select>
				</div>
			</div>

			<div class="row">
				<div class="mb-3 col-md-3  col-12">
					<label for="organizerMultiple">Referencia</label>
					<input class="form-control referens" name="waiter" type="text" />
				</div>
				<div class="mb-3 col-md-3 col-12">
				  <label class="form-label" for="exampleFormControlInput1">Asignar Cuenta</label>
				  <input class="form-control save_account" type="button" value="Guardar Cuenta" />
				</div>
				<div class="mb-3 col-md-3 col-12">
				  <label class="form-label" for="exampleFormControlInput1">Recuperar Cuentas</label>
				  <input class="form-control recovery_invoice" type="button" value="Recuperar Cuenta" />
				</div>
			</div>
		</div>
	</div>
</div>

<div class="card mb-3">
	<div class="card-body">
	  <div class="row">
			<div class="row">
				<div class="mb-3 col-md-4">
					<label for="organizerMultiple" class="text-dark">Producto</label>
					<select class="form-select js-choice product text-dark" id="organizerSingle" size="1">
						<option value="0">SELECCIONE UN PRODUCTO</option>
					  {% for i in product %}
					  	<option value="{{i.code}}">{{i.name}}</option>
					  {% endfor %}
					</select>
				</div>
				<div class="mb-3 col-md-1 col-4">
				  <label class="form-label" for="exampleFormControlInput1" class="text-dark">Cantidad</label>
				  <input class="form-control quantity text-right" name="quantity" type="number" />
				</div>
				<div class="mb-3 col-md-1 col-4">
				  <label class="form-label" for="exampleFormControlInput1" class="text-dark">Descuento</label>
				  <input class="form-control discount text-right" name="discount" value="0" type="number" />
				</div>
				<div class="mb-3 col-md-2 col-4">
				  <label class="form-label" for="exampleFormControlInput1" class="text-dark">Precio</label>
				  <!-- <input class="form-control price text-right" disabled name="price" value="0" type="number" /> -->
				  <select class="form-select price text-dark" id="price" size="1"></select>
				</div>
				<div class="mb-3 col-md-2 col-4">
				  <label class="form-label" for="exampleFormControlInput1" class="text-dark">Stock</label>
				  <input class="form-control stock text-right" disabled name="stock" type="number" value="0" />
				</div>
				<div class="mb-3 col-md-2 col-4">
				  <label class="form-label" for="exampleFormControlInput1" class="text-dark">Total</label>
				  <input class="form-control total_product text-right" disabled name="total_product" value="0" type="number" />
				</div>
			</div>
		</div>
	</div>
</div>
<div class="card mb-3">
  <div class="card-body p-2 overflow-hidden">
  	<div class="table-responsive">
	    <table class="table">
	      <thead>
	        <tr>
	          <th class="fs-0 text-dark">Código</th>
	          <th class="text-dark">Descripción</th>
	          <th class="text-dark">Cantidad</th>
	          <th class="text-dark">Base</th>
	          <th class="text-dark">IVA</th>
	          <th class="text-dark">Descuento</th>
	          <th class="text-dark">ICO</th>
	          <th class="text-dark">SubTotal</th>
	        </tr>
	      </thead>
	      <tbody class="row_product"></tbody>
	    </table>
	  </div>
  </div>
</div>
<div class="card mb-3">
  <div class="card-body p-2 overflow-hidden">
  	<div class="container">
		    <div class="row">
		        <div class="col-md-6">
		        	<textarea rows="5" style="resize: none;" class="form-control notes" placeholder="Observaciones"></textarea>
		        </div>
		        <div class="col-md-2"></div>
		        <div class="col-md-4">
		            <div class="card mb-3">
		                <div class="card-body p-2 overflow-hidden">
		                    <div class="row">
		                        <table class="table">
		                            <tbody class="">
		                                <tr>
		                                    <td class="text-right text-dark">
		                                        SubTotal: 
		                                    </td>
		                                    <td class="text-right text-dark">
		                                    	<span class="subtotal" style="text-align: center !important;">0</span>
		                                    </td>
		                                </tr>
		                                <tr>
		                                    <td class="text-right text-dark">
		                                        Impuestos: 
		                                    </td>
		                                    <td class="text-right text-dark">
		                                    	<span class="impuestos" style="text-align: center !important;">$0</span>
		                                    </td>
		                                </tr>
		                                <tr>
		                                    <td class="text-right text-dark">
		                                        ICO: 
		                                    </td>
		                                    <td class="text-right text-dark">
		                                    	<span class="ico" style="text-align: center !important;">$0</span>
		                                    </td>
		                                </tr>
		                                <tr>
		                                    <td class="text-right text-dark">
		                                        Descuento: 
		                                    </td>
		                                    <td class="text-right text-dark">
		                                    	<span class="descuento" style="text-align: center !important;">$0</span>
		                                    </td>
		                                </tr>
		                                <tr>
		                                    <td class="text-right text-dark">
		                                        Total: 
		                                    </td>
		                                    <td class="text-right text-dark">
		                                    	<span class="total_invoice" style="text-align: center !important;">$0</span>
		                                    </td>
		                                </tr>
		                            </tbody>
		                        </table>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
  </div>
</div>
<div class="card mb-3">
  <div class="card-body p-2 overflow-hidden">
  	<div class="container">
	    <div class="row">
	    	<button class="btn btn-primary save_invoice_billing">Facturar</button>
	    </div>
	  </div>
	</div>
</div>


<button class="btn btn-primary question_excel_inventory" type="button" data-bs-toggle="modal" hidden data-bs-target="#invent_excel">Launch demo modal</button>

<div class="modal fade" id="invent_excel" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:800px">
    <div class="modal-content position-relative">
      <div class="position-absolute top-0 end-0 mt-2 me-2 z-index-1">
        <button class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-0">
        <div class="row">
          <div class="col-12">
            <table class="table items_saved">
              <thead>
                <tr>
                  <th>Referencia</th>
                  <th>Fecha</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody class="row_product_local"></tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary close_invoice_save" type="button" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>



{% endblock %}

{% block script %}

	<script>
		let products = [];
		let limit_stock = 10
		let local_items_saved = false
		let local_row_items_saved = false
		let referens_header = null
		let referens_body = null
		var header = new Object();
		let id_product = null;
		let active_account = false
		let prefix = null
		let res_type_document = 1
		let t_d = false
		let omitir = false

		function recovery_invoice_saved(){
			var totalItems = localStorage.length;
			var local = [];
			for (var i = 0; i < totalItems; i++) {
			  var key = localStorage.key(i);
			  if (key.includes("Headers")) {
			    var value = localStorage.getItem(key);
			    local.push(JSON.parse(value));
			  }
			}
			$('.row_product_local').empty()
		  for(j = 0; j < local.length; j++){
		  	e = local[j]
		  	$('.row_product_local').append(`
		  		<tr>
		  			<td>${e.referens}</td>
		  			<td>${e.date_invoice}</td>
		  			<td>${e.total_invoice}</td>
		  		</tr>
		  	`)
			}
		}

		recovery_invoice_saved()		

		$(document).ready(function () {

			$(".product").click()

			const selectElement = document.getElementById('organizerSingle');
			if (selectElement) {
			  selectElement.addEventListener('click', (event) => {
			    // Aquí puedes realizar acciones cuando se haga clic en el elemento select
			    console.log('Se hizo clic en el elemento select');
			    
			    // Puedes acceder al valor seleccionado usando event.target.value
			    console.log('Valor seleccionado:', event.target.value);
			  });
			}

			function Get_Number(totals){
				if(totals > 212060 && !t_d && !omitir){
					res_type_document = 2
					var notification = new Notification("INFORMACIÓN", {
					  body: "Se ha cambiado a facturación electrónica"
					})
					$.notify("Se ha cambiado a facturación electrónica", "info");
					console.log("Se ha cambiado a facturación electrónica")
					t_d = true
				}
				else if(totals <= 212060 && t_d){
					res_type_document = 1
					var notification = new Notification("INFORMACIÓN", {
					  body: "Se ha cambiado a facturación POS"
					})
					console.log("Se ha cambiado a facturación POS")
					$.notify("Se ha cambiado a facturación POS", "info");
					t_d = false
				}
				$.ajax({
					url: "{% url 'Get_Number' %}",
					data:{'type_document':res_type_document},
					success:function(e){
						_e = JSON.parse(e)
						if(Object.keys(_e).length > 0){
							$(".number_invoice").text(_e._from)
							prefix = _e.prefix
						}
						if(res_type_document == 2 && Object.keys(_e).length == 0){
							res_type_document = 1
							t_d = false
							omitir = true
							$.notify("Nos mantenemos en facturación POS, por falta de resolucion en factura electrónica", "info");
						}
						else if(res_type_document == 2 && Object.keys(_e).length > 0){
							omitir = false
						}
					}
				})
			}
			setInterval(function() {
	      Get_Number(parseInt($(".subtotal").text()))
	    }, 1000);

			$(".recovery_invoice").click(function(){
				$(".question_excel_inventory").click()
			})

			$(".client").change(function(){
				$(".quantity").focus()
			})

			$(".items_saved").click(function() {
		    if (event.target.tagName === "TD") {
	        var celda = event.target;
	        var fila = celda.parentElement;
	        var celdas = fila.getElementsByTagName("td");
	        var referens = celdas[0].textContent;
	        var totalItems = localStorage.length;
	        var header = {};
	        var items = null;
	        for (var i = 0; i < totalItems; i++) {
            var key = localStorage.key(i);
            if (key === "Headers_" + referens) {
                var value = localStorage.getItem(key);
                header = JSON.parse(value);
                items = JSON.parse(localStorage.getItem("Body_" + referens));
            }
	        }
	        local_items_saved = true;
	        local_row_items_saved = true;
	        referens_body = "Body_" + referens;
	        referens_header = "Headers_" + referens;
	        active_account = true
	        for (var i = 0; i < items.length; i++) {
	            products.push(items[i]);
	            UpdateExistingProduct(items[i].pk_product, items[i].quantity);
	        }
	        $('.close_invoice_save').click();
	        $(".quantity").focus();
		    }
			});
	    var fechaActual = new Date();
			var fechaActualUTC = new Date();
			var offset = -5 * 60;
			var fechaBogota = new Date(fechaActualUTC.getTime() + offset * 60000);
			$(".date_invoice").val(fechaBogota.toISOString().split('T')[0]);
	    $(".due_date").val(fechaBogota.toISOString().split('T')[0]);
	    header.date_invoice = $(".date_invoice").val();
	    header.due_date = $(".due_date").val();

	    $(".paymentform").change(function () {
	        const id = parseInt($(this).val());
	        $(".due_date").css('display', id === 2 ? 'block' : 'none');
	    });

	    $(".due_date").change(function () {
	        header.due_date = $(this).val();
	    });

	    $(".product").change(function () {
	        id = $(this).val();
	        if(id !== '0'){
		        $.ajax({
		            url: "{% url 'Loading_Product' %}",
		            data: {'code': id},
		            success: function (e) {
		                _e = JSON.parse(e);
		                products.push(_e)
		                $(".quantity").focus()
		                $('#price').append(`
		                	<option value="1">${_e['price_1']}</option>
		                	<option value="2">${_e['price_2']}</option>
		                	<option value="3">${_e['price_3']}</option>
		                `)
		                $(".stock").val(_e['quantity'])
		                id_product = _e['code']
		                $(".quantity").val('')
		            }
		        });
		      }
		      else{
						$('#price').empty()
						$(".stock").val(0)
		      }
	    });

	   	$(".quantity").keypress(function(e){
	   		const value = parseInt($(this).val());
        const code = e.keyCode ? e.keyCode : e.which;
        if(code == 67 || code == 99){
        	$(".client").click()
        	$(this).val('')
        }
        if(code == 70 || code == 102){
        	Save_Invoice()
        }
        if(code == 66 || code == 98){
        	$(this).val('');
		      $(".total").val(0)
		      $(".product").click()
        }
        const stockValue = parseInt($(".stock").val());
        if (value > stockValue) {
            $.notify("No hay suficiente stock disponible", "error");
            $(".total_product").val(0);
        }else {            
            if (code === 13) {
              if (value > 0) {
                $.ajax({
                  data: { 'pk_product': id_product, 'quantity': value },
                  success: function (e) {
                    if (e) {
                      UpdateExistingProduct(id_product, value);
                      $('.stock').val(stockValue - value);
                      const stock = parseInt($(".stock").val());
								      if(stock <= limit_stock){
									      $.notify("Hay muy poco productos de stock", "error");
									    }
									    $(".quantity").val('')
									    $(".product").click()
                    } else {
                        alert("Error al reservar el producto");
                    }
                  }
                });
              } else if (value < 0) {
                UpdateExistingProduct(id_product, value);
              }
            }
	      }
	   	})

	   	$(".save_account").click(function(){
	    	if($(".referens").val().length > 5){
		    	Data_Header()
		    	GenerateTableJSON()
		    	headers = Data_Header()
		    	details_invoice = GenerateTableJSON()
		    	localStorage.setItem("Headers_"+$(".referens").val(),headers)
		    	localStorage.setItem("Body_"+$(".referens").val(),details_invoice)
		    	recovery_invoice_saved()
		    	location.reload(true)
		    }
		    else
		    {
		    	noti_person("ERROR", "Debe ingresar un nombre en la referencia");
		    	$(".referens").focus();
		    }
	    })

	   	$(".save_invoice_billing").click(function(){
	   		Save_Invoice()
	   	})

	    console.clear();
		});


		function Data_Header(){
			type_document = 1
			if(parseFloat($(".subtotal").text()) > parseFloat(212060)){
				type_document = 2
			}
			return JSON.stringify({
				"pk_employee":"{{request.session.pk_employee}}",
				"prefix": prefix,
				"pk_client": (parseInt($(".client").val()) == 0 ) ? 2 : $(".client").val(),
				"date":$(".date_invoice").val(),
				"date_invoice_due":($(".date_invoice_due").val() !== "") ? $(".date_invoice_due").val() : $(".date_invoice").val(),
				"paymentform": isNaN(parseInt($(".paymentform").val())) ? 1 : parseInt($(".paymentform").val()),
				'type_document': type_document,
				"total_invoice": $(".total_invoice").text(),
				'referens': $(".referens").val(),
				'number': $(".number_invoice").text(),
				'note': ($(".notes").val() === "") ? "No hay" : $(".notes").val(),
				"state": (type_document === 1) ? "Factura POS generada con exito" : "Sin enviar a la DIAN"
			}, null, 2)
		}

		function GenerateTableJSON() {
		    const tableRows = $(".row_product tr");
		    const jsonData = [];

		    tableRows.each(function() {
		        const row = $(this);
		        const pk_product = row.find("td:eq(0)").text();
		        const code = row.find("td:eq(1)").text();
		        const product = row.find("td:eq(2)").text();
		        const quantity = parseInt(row.find("td:eq(3)").text());
		        const price = parseFloat(row.find("td:eq(4)").text());
		        const tax = parseFloat(row.find("td:eq(5)").text());
		        const discount = parseFloat(row.find("td:eq(6)").text());
		        const ipo = parseFloat(row.find("td:eq(7)").text());
		        const totalValue = parseFloat(row.find("td:eq(8)").text());
		        jsonData.push({pk_product,code,product,quantity,price,tax,discount,ipo,totalValue});
		    });

		    return JSON.stringify(jsonData, null, 2); // Formateo para mejor legibilidad
		}

		function CalculateTotalsInvoice(){
				var filas = $(".row_product").find("tr");
        var resultado = "";
        let subtotal_row_table_invoice = 0
        let impoconsumo = 0
        let impuestos = 0
				let tax_row_table_invoice = 0
        for(i=0; i<filas.length; i++){
            var celdas = $(filas[i]).find("td")
            _quantity = parseFloat($(celdas[3]).text())
          	subtotal_row_table_invoice += parseFloat($(celdas[4]).text()) * _quantity
          	impoconsumo += parseFloat($(celdas[7]).text()) * _quantity
          	impuestos += parseFloat($(celdas[5]).text()) * _quantity
        }
        $(".subtotal").text(Math.round(subtotal_row_table_invoice))
        $(".ico").text(Math.round(impoconsumo))
        $('.impuestos').text(Math.round(impuestos))
        $('.descuento').val(0)
        let total = impoconsumo + subtotal_row_table_invoice + impuestos
        $(".total_invoice").text(Math.round(total))
        $(".quantity").val('')
        $(".total_product").val(total);
		}

		function SelectPrice(obj){
			_price = ['price_1','price_2','price_3']
			return _price[obj]
		}

		function CalculateTaxValue(product){
			type_price = parseInt($(".price").val()) - 1 
			price = (type_price == 0) ? SelectPrice(type_price)  :  SelectPrice(type_price)
			_price = (price === 'price_1') ? product[price] - product['ipo'] : product[price]
			return _price - (_price / (1 + ( parseInt(product['tax']) / 100 )))
		}

		function CalculateBaseWithDiscount(product){
			type_price = parseInt($(".price").val()) - 1 
			price = (type_price == 0) ? SelectPrice(type_price)  :  SelectPrice(type_price)
			_price =(price === 'price_1') ? product[price] - product['ipo'] : product[price]
			tax = CalculateTaxValue(product)
			base = _price - tax
			discount = base * (product['discount'] / 100)
			return base - discount
		}

		function TotalValue(quantity, tax, base_g, ipo){
			return quantity * (tax + base_g + ipo)
		}

		function Add_Product(product, quantity) {
			if(!local_items_saved){
		    const ipo = product['ipo']
		    const base_g = CalculateBaseWithDiscount(product)
		    const tax = CalculateTaxValue(product)
		    const totalValue = TotalValue(quantity,tax,base_g, ipo)
		    $(".row_product").append(`
		        <tr>
		            <td hidden class="${product.code}">${product.code}</td>
		            <td class="${product.code}">${product.code}</td>
		            <td>${product.name}</td>
		            <td class="text-center">${quantity}</td>
		            <td>${base_g.toFixed(2)}</td>
		            <td>${tax.toFixed(2)}</td>
		            <td>${$('.discount').val()}</td>
		            <td>${product['ipo']}</td>
		            <td>${totalValue.toFixed(2)}</td>
		        </tr>
		    `);
		  }
		  else{
		    const baseWithDiscount =  product.price
		    const taxValue = product.tax
		    const totalValue = product.totalValue
		    $(".row_product").append(`
		        <tr>
		            <td hidden class="${product.pk_product}">${product.pk_product}</td>
		            <td class="${product.code}">${product.code}</td>
		            <td>${product.product}</td>
		            <td class="text-center">${quantity}</td>
		            <td>${baseWithDiscount.toFixed(2)}</td>
		            <td>${taxValue}</td>
		            <td>${product.discount}</td>
		            <td>${product.ipo}</td>
		            <td>${totalValue}</td>
		        </tr>
		    `);
		  }
		  CalculateTotalsInvoice();
		}

		function UpdateExistingProduct(pk_product, quantity) {
		    const existingRow = $(`.row_product td.${pk_product}`).closest("tr");
		    if (existingRow.length > 0) {
	        const existingQuantity = parseInt(existingRow.find(".text-center").text());
	        const newQuantity = existingQuantity + quantity;
	        if (newQuantity > 0) {
            existingRow.find(".text-center").text(newQuantity);
            const productIndex = products.findIndex(product =>product.code === pk_product);
            if (productIndex !== -1) {
              const product = products[productIndex];
              _quantity = parseInt(existingRow.find("td:eq(3)").text());
              _base_g = parseInt(existingRow.find("td:eq(4)").text());
              _subtotal = _quantity * _base_g;
              existingRow.find("td:eq(8)").text(_subtotal);
              $(".stock").val(parseInt($(".stock").val()) + (quantity < 0) ?  Math.abs(quantity) : 0 )
              CalculateTotalsInvoice();
            }
	        } else {
            existingRow.remove();
            const productIndex = products.findIndex(product => product.code === pk_product);
            products.splice(productIndex, 1);
            CalculateTotalsInvoice();
            $.ajax({
            	url:"{% url 'Return_Products' %}"
            })
            $(".product").click()
            $(".stock").val(0)
	        }
		    } else {
		        Add_Product(products.find(product => product.code === pk_product), quantity);
		    }
		}

		function Save_Invoice(){
			$.ajax({
				url: "{% url 'Save_Invoice' %}",
				method: "POST",
				data: {
					csrfmiddlewaretoken: '{{ csrf_token }}', 
					'headers':Data_Header(), 
					'details_invoice': GenerateTableJSON()
				},
				success: function(e){
					e = JSON.parse(e)
					if(e.result){
						localStorage.removeItem(referens_header);
						localStorage.removeItem(referens_body);
						recovery_invoice_saved()
						let screenWidth = window.screen.width;
		        let screenHeight = window.screen.height;
		        let windowWidth = 800; 
		        let windowHeight = 600;
		        let leftPosition = (screenWidth - windowWidth) / 2;
		        let topPosition = (screenHeight - windowHeight) / 2;
		        let params = `scrollbars=no,resizable=no,status=no,location=no,toolbar=no,menubar=no,width=${windowWidth},height=${windowHeight},left=${leftPosition},top=${topPosition}`;
		        window.open("{{request.session.url}}/invoice/Print_Invoice/"+e.pk_invoice, "invoice", params);
		        location.reload(true)
					}
				}
			})
		}


	</script>

{% endblock %}