{% extends '../base.html' %}
{% block content %}

<div class="card mb-3 p-1" data-date="{{ i.registration_date }}">
  <div class="card-body p-2 overflow-hidden">
    <div class="row">
      <div class="col-md-3 col-12">
        <h5>Lista de proveedores</h5>
      </div>
      <div class="col-md-2 col-12 ml-auto">
        {% for i in request.session.permission %}
          {% if i == "Creador" or i == "Todos" %}
            <button class="btn btn-info Add_Supplier">Crear proveedor</button>
          {% endif %}
        {% endfor %} 
      </div>
    </div>
  </div>
</div>

<div class="card card_search">
  <div class="card-body p-2 overflow-hidden">
    <div class="table-responsive">
      <table class="table" id="example" style="width:100%">
        <thead>
          <tr>
            <th class="text-dark w-100 text-center fs-0">Información</th>
            <th class="text-dark">Identificador</th>
            <th class="text-dark">CC / NIT</th>
            <th class="text-dark">Razón Social</th>
            <th class="text-dark">Teléfono</th>
            <th class="text-dark">Correo Electrónico</th>
            <th class="text-dark">
              {% if request.session.permission %}
                {% for j in request.session.permission %}
                  {% if j == "Editor" or j == "Todos" or j == "Eliminador"%}
                    Acciones
                  {% endif %}
                {% endfor %}
              {% endif %}
            </th>
          </tr>
        </thead>
        <tbody>
          {% for i in page_obj %}
            <tr>
              <td class="details text-center text-dark">Ver más de {{i.name}}</td>
              <td class="text-dark">{{i.pk}}</td>
              <td class="text-dark">{{i.documentI}}</td>
              <td class="text-dark">{{i.name}}</td>
              <td class="text-dark">{{i.phone}}</td>
              <td class="text-dark">{{i.email}}</td>
              <td>
                {% for j in request.session.permission %}
                  {% if j == "Editor" or j == "Todos" %}
                    <a href="{% url 'Edit_Supplier' i.pk %}" class="btn btn-primary" id="{{i.pk}}">Editar</a>
                  {% endif %}
                  {% if j == "Eliminador" or j == "Todos" %}
                    <button class="btn btn-danger delete" id="{{i.pk}}">Eliminar</button>
                  {% endif %}
                {% endfor %}              
              </td>  
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>


{% endblock %}
{% block script %}

  <script>

    function format(data) {
      return `
          <div>CC / NIT: ${data[1]}</div>
          <div>Razón Social: ${data[2]}</div>
          <div>Teléfono: ${data[3]}</div>
          <div>Correo Electrónico: ${data[4]}</div>
          <div>${data[5]}</div>
          <div>${data[6]}</div>
        `
    }
    preferens_columm = 5;
    $(document).ready(function(){

      // console.clear()
      

      $(".Add_Supplier").click(function(){
        location.href = "{% url 'Create_Supplier' %}"
      })

      $(document).on('click','.delete',function(){
        $(this).closest('tr').remove();
        $.ajax({
          url:"{% url 'Delete_Supplier' %}",
          data:{'pk_suppplier':this.id},
          success:function(e){
            e = JSON.parse(e)
            if(e.result){
              var notification = new Notification("REALIZADO", {
                body: e.message
              })
            }
            else{
              var notification = new Notification("ERROR", {
                body: e.message
              }) 
            }
          }
        })
      })

    })
  </script>

{% endblock %}