{% extends '../base.html' %}
{% load static %}
{% block content %}
<style>
  .gallery {
    display: flex;
  }

  .lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }

  .lightbox-content {
    position: relative;
  }

  .lightbox-image {
    max-width: 100%;
    max-height: 100%;
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 24px;
    cursor: pointer;
  }
</style>
<div class="lightbox">
  <span class="close-button">×</span>
  <div class="lightbox-content">
    <img class="lightbox-image" src="">
  </div>
</div>
<div class="content">
  <div class="row">
    <div class="col-12">
      <div class="card mb-3 btn-reveal-trigger">
        <div class="card-header position-relative min-vh-25 mb-8">
          <div class="cover-image">
              <div class="bg-holder rounded-3 rounded-bottom-0 image" style="background-image:url('{% static "cover.png" %}');"></div>
          </div>
          <div class="avatar avatar-5xl avatar-profile shadow-sm img-thumbnail rounded-circle">
            <div class="h-100 w-100 rounded-circle overflow-hidden position-relative">
              <img src="{{request.session.logo}}" width="200" alt="" data-dz-thumbnail="data-dz-thumbnail" />
              <form enctype="multipart/form-data" method="post" id="form_photo_profile" action="">{% csrf_token %}
                <input class="d-none profile_photo" id="profile-image" src="" name="photo_logo" type="file">
                <label class="mb-0 overlay-icon d-flex flex-center" for="profile-image">
                  <span class="bg-holder overlay overlay-0"></span>
                  <span class="z-index-1 text-white dark__text-white text-center fs--1">
                    <span class="fas fa-camera"></span>
                    <span class="d-block">Actualizar</span>
                  </span>
                </label>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row g-0">
    <div class="col-lg-8 pe-lg-2">
      <div class="card mb-3">
        <div class="card-header">
          <h5 class="mb-0">Datos de la sucursal</h5>
        </div>
        <div class="card-body bg-light">
          <form class="row g-3 information_profile" method="post" action="">{% csrf_token %}
            <div class="col-lg-6">
              <label class="form-label" for="first-name">Razón Social</label>
              <input class="form-control" id="first-name" name="nit" type="text" value="{{branch.fields.name}}" autofocus />
            </div>
            <div class="col-lg-6">
              <label class="form-label" for="last-name">Dirección</label>
              <input class="form-control" id="last-name" type="text" name="name" value="{{branch.fields.address}}" />
            </div>
            <div class="col-lg-6">
              <label class="form-label" for="email1">Correo electrónico</label>
              <input class="form-control" id="email1" type="email" name="email1" value="{{branch.fields.email}}" />
            </div>            <div class="col-lg-6">
              <label class="form-label" for="email2">Teléfono</label>
              <input class="form-control" id="email2" type="text" name="phone1" value="{{branch.fields.phone}}" />
            </div>
            <div class="col-12 d-flex justify-content-end">
              <button class="btn btn-primary information_profile_button" type="submit">Actualizar</button>
            </div>
          </form>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header">
          <h5 class="mb-0">Resolución</h5>
        </div>
        <div class="card-body bg-light">
          {% for i in r %}
            <div class="d-flex"><a href="#!"> <img class="img-fluid" src="{{request.session.logo}}" alt="" width="56" /></a>
              <div class="flex-1 position-relative ps-3">
                <h6 class="fs-0 mb-0">Prefijo: {{i.fields.prefix}}</span></h6>
                <p class="mb-1">Rango desde {{i.from}} - Hasta {{i.to}}</p>
                <p class="mb-1">Fecha desde {{i.fields.date_from}} - Hasta {{i.fields.date_to}}</p>
                <div class="border-dashed-bottom my-3"></div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="card mb-3 mb-lg-0">
        <div class="card-header">
          <h5 class="mb-0">Crear Sucursal</h5>
        </div>
        <div class="card-body bg-light"><a class="mb-4 d-block d-flex align-items-center" href="#education-form" data-bs-toggle="collapse" aria-expanded="false" aria-controls="education-form"><span class="circle-dashed"><span class="fas fa-plus"></span></span><span class="ms-3">Agregar nuevo estudio</span></a>
          <div class="collapse" id="education-form">
            <form class="row" method="post">{% csrf_token %}
              <div class="col-3 mb-3 text-lg-end">
                <label class="form-label" for="school">Razón Social</label>
              </div>
              <div class="col-9 col-sm-7 mb-3">
                <input class="form-control form-control-sm" name="school" id="school" type="text" />
              </div>
              <div class="col-3 mb-3 text-lg-end">
                <label class="form-label" for="degree">Teléfono</label>
              </div>
              <div class="col-9 col-sm-7 mb-3">
                <input class="form-control form-control-sm text-right" id="degree" name="titulo" type="number" />
              </div>
              <div class="col-3 mb-3 text-lg-end">
                <label class="form-label" for="field">E-mail</label>
              </div>
              <div class="col-9 col-sm-7 mb-3">
                <input class="form-control form-control-sm" id="field" type="email" />
              </div>
              <div class="col-3 text-lg-end">
                <label class="form-label" for="edu-form3">N° de resolución</label>
              </div>
              <div class="col-9 col-sm-7 mb-3">
                <input class="form-control form-control-sm datetimepicker text-right" name="froms" id="edu-form3" type="number" />
              </div>
              <div class="col-9 col-sm-7 offset-3">
                <button class="btn btn-primary" type="submit">Guardar</button>
              </div>
            </form>
            <div class="border-dashed-bottom my-3"></div>
          </div>
          {% for i in education %}
            <div class="d-flex">
              <a href="#!">
                <div class="avatar avatar-3xl">
                  <div class="avatar-name rounded-circle">
                    <span>SU</span>
                  </div>
                </div>
              </a>
              <div class="flex-1 position-relative ps-3">
                <h6 class="fs-0 mb-0"> <a href="#!">{{i.school}}<span data-bs-toggle="tooltip" data-bs-placement="top" title="Verified"><small class="fa fa-check-circle text-primary" data-fa-transform="shrink-4 down-2"></small></span></a></h6>
                <p class="mb-1">{{i.titulo}}</p>
                <p class="text-1000 mb-0">{{i.froms}} - {{i.to}} • 4 yrs</p>
                <p class="text-1000 mb-0">California, USA</p>
                <div class="border-dashed-bottom my-3"></div>
              </div>
            </div>
          {% endfor %}
          <!-- <div class="d-flex"><a href="#!"> <img class="img-fluid" src="{% static 'assets/img/logos/staten.png' %}" alt="" width="56" /></a>
            <div class="flex-1 position-relative ps-3">
              <h6 class="fs-0 mb-0"> <a href="#!">Staten Island Technical High School<span data-bs-toggle="tooltip" data-bs-placement="top" title="Verified"><small class="fa fa-check-circle text-primary" data-fa-transform="shrink-4 down-2"></small></span></a></h6>
              <p class="mb-1">Higher Secondary School Certificate, Science</p>
              <p class="text-1000 mb-0">2008 - 2010 &bull; 2 yrs</p>
              <p class="text-1000 mb-0">New York, USA</p>
              <div class="border-dashed-bottom my-3"></div>
            </div>
          </div>
          <div class="d-flex"><a href="#!"> <img class="img-fluid" src="{% static 'assets/img/logos/tj-heigh-school.png' %}" alt="" width="56" /></a>
            <div class="flex-1 position-relative ps-3">
              <h6 class="fs-0 mb-0"> <a href="#!">Thomas Jefferson High School for Science and Technology<span data-bs-toggle="tooltip" data-bs-placement="top" title="Verified"><small class="fa fa-check-circle text-primary" data-fa-transform="shrink-4 down-2"></small></span></a></h6>
              <p class="mb-1">Secondary School Certificate, Science</p>
              <p class="text-1000 mb-0">2003 - 2008 &bull; 5 yrs</p>
              <p class="text-1000 mb-0">Alexandria, USA</p>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <div class="col-lg-4 ps-lg-2">
      <div class="sticky-sidebar">
        <div class="card mb-3 overflow-hidden">
          <div class="card-header">
            <h5 class="mb-0">Configuraciones de la cuenta</h5>
          </div>
          <div class="card-body bg-light">
            <h6 class="fw-bold">¿Quién puede ver tu perfil?<span class="fs--2 ms-1 text-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Solo el grupo de personas seleccionadas puede ver tu perfil"><span class="fas fa-question-circle"></span></span></h6>
            <div class="ps-2">
              <div class="form-check mb-0 lh-1">
                <input class="form-check-input show_profile" type="radio" value="1" id="1" {% if syp.alls %}checked="checked"{% endif %} name="view-settings" />
                <label class="form-check-label mb-0" for="my-followers">Todos
                </label>
              </div>
              <div class="form-check mb-0 lh-1">
                <input class="form-check-input show_profile" type="radio" value="2" id="2" {% if syp.followers %}checked="checked"{% endif %} name="view-settings" />
                <label class="form-check-label mb-0" for="my-followers">Mis seguidores
                </label>
              </div>
              <div class="form-check mb-0 lh-1">
                <input class="form-check-input show_profile" type="radio" value="3" id="3" {% if syp.only_me %}checked="checked"{% endif %} name="view-settings" />
                <label class="form-check-label mb-0" for="my-followers">Solo yo
                </label>
              </div>
            </div>
            <h6 class="mt-2 fw-bold">¿Quién puede etiquetarte?<span class="fs--2 ms-1 text-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Solo el grupo de personas seleccionadas puede etiquetarte"><span class="fas fa-question-circle"></span></span></h6>
            <div class="ps-2">
              <div class="form-check mb-0 lh-1">
                <input class="form-check-input tag" type="radio" {% if ty.alls %}checked="checked"{% endif %} value="1" id="1" name="tag-settings" />
                <label class="form-check-label mb-0" for="tag-everyone">Todo el mundo
                </label>
              </div>
              <div class="form-check mb-0 lh-1 tag">
                <input class="form-check-input tag" type="radio" {% if ty.group %}checked="checked"{% endif %} value="2" id="2" name="tag-settings" />
                <label class="form-check-label mb-0" for="tag-everyone">Solo grupos
                </label>
              </div>
            </div>
            <div class="border-dashed-bottom my-3"></div>
            <div class="form-check mb-0 lh-1">
              <input class="form-check-input othres" id="1" type="checkbox" {% if as.show_followers %}checked="checked"{% endif %} id="userSettings1"/>
              <label class="form-check-label mb-0" for="userSettings1">Permita que los usuarios muestren a sus seguidores
              </label>
            </div>
            <div class="form-check mb-0 lh-1">
              <input class="form-check-input othres" id="2" type="checkbox" {% if as.show_emai %}checked="checked"{% endif %} id="userSettings2"/>
              <label class="form-check-label mb-0" for="userSettings2">Permitir que los usuarios muestren su correo electrónico
              </label>
            </div>
            <div class="form-check mb-0 lh-1">
              <input class="form-check-input othres" id="3" type="checkbox" {% if as.show_experiences %}checked="checked"{% endif %} id="userSettings3" />
              <label class="form-check-label mb-0" for="userSettings3">Permita que los usuarios muestren sus experiencias
              </label>
            </div>
            <div class="border-dashed-bottom my-3"></div>
            <div class="form-check form-switch mb-0 lh-1">
              <input class="form-check-input othres" id="4" type="checkbox" {% if as.show_number_phone %}checked="checked"{% endif %} id="flexSwitchCheckDefault" />
              <label class="form-check-label mb-0" for="flexSwitchCheckDefault">Haz que tu número de teléfono sea visible
              </label>
            </div>
            <div class="form-check form-switch mb-0 lh-1">
              <input class="form-check-input othres" id="5" type="checkbox" {% if as.show_follow_you %}checked="checked"{% endif %} id="flexSwitchCheckChecked" />
              <label class="form-check-label mb-0" for="flexSwitchCheckChecked">Permitir que el usuario te siga
              </label>
            </div>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-header">
            <h5 class="mb-0">Configuración de facturación</h5>
          </div>
          <!-- <div class="card-body bg-light">
            <h5>Plan</h5>
            <p class="fs-0"><strong>Developer</strong>- Unlimited private repositories</p><a class="btn btn-falcon-default btn-sm" href="#!">Update Plan</a>
          </div> -->
          <div class="card-body bg-light border-top">
            <h5>Pago</h5>
            <p class="fs-0">No has añadido ningún pago.</p><a class="btn btn-falcon-default btn-sm" href="#!">Agregar Pago </a>
          </div>
          <div class="card-body bg-light border-top">
            <h5>Agregar Producto</h5><p class="fs-0"></p>
            <a class="btn btn-falcon-default btn-sm" href="">Agregar Producto </a>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-header">
            <h5 class="mb-0">Cambia la contraseña</h5>
          </div>
          <div class="card-body bg-light">
            <form>
              <div class="mb-3">
                <label class="form-label" for="old-password">Contraseña anterior</label>
                <input class="form-control old-password" id="old-password" autocomplete="false" type="password" />
              </div>
              <div class="mb-3">
                <label class="form-label" for="new-password">Nueva contraseña</label>
                <input class="form-control" id="new-password" type="password" />
              </div>
              <div class="mb-3">
                <label class="form-label" for="confirm-password">Confirmar contraseña</label>
                <input class="form-control" id="confirm-password" type="password" />
              </div>
              <button class="btn btn-primary d-block w-100 update_password" type="submit">Actualiza contraseña</button>
            </form>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h5 class="mb-0">Zona peligrosa</h5>
          </div>
          <div class="card-body bg-light">
            <h5 class="fs-0">Desactivar esta cuenta</h5>
            <p class="fs--1">Una vez que desactivas una cuenta, deberas solicitar la de nuevo. Por favor, esta seguro(a).</p><a class="btn btn-falcon-danger d-block" href="">Desactivar Cuenta</a>
            <div class="border-dashed-bottom my-4"></div>
            <h5 class="fs-0">Eliminar esta cuenta</h5>
            <p class="fs--1">Una vez que eliminas una cuenta, no hay vuelta atrás. Por favor, esté seguro.</p><a class="btn btn-falcon-danger d-block" href="">Desactivar Cuenta</a>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}

  <script>
    $(document).ready(function(){
      const images = document.querySelectorAll('.image');
      const lightbox = document.querySelector('.lightbox');
      const lightboxImage = document.querySelector('.lightbox-image');
      const closeButton = document.querySelector('.close-button');

      images.forEach(image => {
        image.addEventListener('click', () => {
          const backgroundImage = image.style.backgroundImage;
          const imageUrl = backgroundImage.slice(5, -2);
          lightboxImage.src = imageUrl;
          lightbox.style.display = 'flex';
        });
      });

      closeButton.addEventListener('click', () => {
        lightbox.style.display = 'none';
      });
    })

  </script>

  <script>
    $(document).ready(function(){

      $("#profile-image").change(function(){
        text = "El logo fúe actualizado con éxito."
        alert = "Actualizando Logo"
        notification = new Notification(alert, {
          body: text,
          icon: "{% static 'logo.png' %}"
        });
        $("#form_photo_profile").submit()

      })
      


    })

  </script>

{% endblock %}